.sh-experts-topbox {
  background-color: #000;
  color: #FFF;
  font-family: 'OpenSans-Extrabold', arial, sans-serif;
  text-align: center; }
  .sh-experts-topbox p {
    font-family: 'OpenSans-Light', arial, sans-serif; }
  .sh-experts-topbox h1 {
    font-size: 30px; }
  .sh-experts-topbox p {
    font-size: 10px; }
  .sh-experts-topbox canvas {
    width: 100%;
    height: auto; }
  .sh-experts-topbox #title-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%); }
    .sh-experts-topbox #title-container h1 {
      letter-spacing: 1.5px;
      line-height: normal; }
    .sh-experts-topbox #title-container p {
      padding: 10px 0;
      line-height: 16px;
      letter-spacing: 1.2px; }
