/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
@-webkit-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-moz-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-ms-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-o-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

body {
  background-color: #000; }

.sh-experts-topbox {
  background-color: #000;
  color: #FFF;
  font-family: 'OpenSans-Extrabold', arial, sans-serif;
  text-align: center;
  position: relative;
  opacity: 0;
  margin: 0 auto;
  max-width: 1500px;
  /*
																																																																																																																										.mobile {
																																																																																																																											h3,
																																																																																																																											p {
																																																																																																																												display: none;
																																																																																																																											}

																																																																																																																											.clip-photo {
																																																																																																																												width: 70px;
																																																																																																																												height: 70px;
																																																																																																																											}

																																																																																																																											.clip-icon {
																																																																																																																												width: 18px;
																																																																																																																												height: 18px;
																																																																																																																											}

																																																																																																																											.experts-list {
																																																																																																																												height: 160px;
																																																																																																																												padding: 30px;

																																																																																																																												li {
																																																																																																																													width: 33.3333%;

																																																																																																																													&:nth-child(even) {
																																																																																																																														margin-top: 80px;
																																																																																																																													}
																																																																																																																												}
																																																																																																																											}
																																																																																																																										}
																																																																																																																										*/ }
  .sh-experts-topbox canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .sh-experts-topbox .experts-wrap {
    width: 90%;
    margin: 0 auto; }
  .sh-experts-topbox.mouseover {
    cursor: pointer !important; }
  .sh-experts-topbox p,
  .sh-experts-topbox span {
    font-family: 'OpenSans-Light', arial, sans-serif; }
  .sh-experts-topbox h1 {
    font-size: 30px; }
  .sh-experts-topbox p {
    font-size: 10px; }
  .sh-experts-topbox canvas {
    width: 100%;
    height: 100%; }
  .sh-experts-topbox #title-container {
    width: 90%;
    max-width: 530px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    z-index: 5; }
    .sh-experts-topbox #title-container h1,
    .sh-experts-topbox #title-container p {
      position: relative; }
    .sh-experts-topbox #title-container h1 {
      opacity: 0;
      letter-spacing: 1.5px;
      line-height: normal;
      font-size: 30px; }
    .sh-experts-topbox #title-container p {
      opacity: 0;
      padding: 10px 0;
      line-height: 16px;
      letter-spacing: 1.2px;
      font-size: 10px; }
    @media (max-width: 840px) {
      .sh-experts-topbox #title-container h1 {
        font-size: 26px; }
      .sh-experts-topbox #title-container p {
        font-size: 8px;
        line-height: 14px;
        padding: 5px 0; } }
  .sh-experts-topbox .experts-down-arrow {
    background-image: url(../img/arrow-down.png?201512021534);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 16px;
    position: absolute;
    z-index: 5;
    bottom: 40px;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: 'arrow_animation';
    animation-name: 'arrow_animation';
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; }
  .sh-experts-topbox #quoteWrp {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
    text-align: right;
    font-size: 1em;
    line-height: 1.5em;
    max-width: 450px; }
    .sh-experts-topbox #quoteWrp p {
      font-size: 1.4em;
      line-height: 1.2em;
      color: #3b81ff;
      font-style: italic;
      background-color: rgba(0, 0, 0, 0.5);
      padding-right: 3px;
      /* fix cropped quotes on safari */ }
      .sh-experts-topbox #quoteWrp p:before {
        content: '\201C'; }
      .sh-experts-topbox #quoteWrp p:after {
        content: '\201D'; }
    .sh-experts-topbox #quoteWrp > span {
      margin-top: 10px;
      font-size: 1em;
      line-height: 1.3em;
      display: block;
      font-style: normal;
      font-weight: 200;
      text-transform: uppercase; }
      .sh-experts-topbox #quoteWrp > span span {
        font-family: 'OpenSans-SemiBold', helvetica, sans-serif;
        text-transform: uppercase; }
    .sh-experts-topbox #quoteWrp p, .sh-experts-topbox #quoteWrp > span {
      position: relative;
      opacity: 0; }
  .sh-experts-topbox .clips {
    position: relative;
    height: 127px; }
  .sh-experts-topbox .clip-photo {
    width: 122px;
    height: 122px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    -webkit-transition: border 0.3s;
    -khtml-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
    .sh-experts-topbox .clip-photo img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -khtml-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .sh-experts-topbox .clip-icon {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    background: #FFF;
    position: absolute;
    bottom: 0%;
    right: 50%;
    -webkit-transform: translateX(175%);
    -khtml-transform: translateX(175%);
    -moz-transform: translateX(175%);
    -ms-transform: translateX(175%);
    -o-transform: translateX(175%);
    transform: translateX(175%);
    -webkit-transition: background 0.3s;
    -khtml-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .sh-experts-topbox .clip-icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 55%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -khtml-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -webkit-transition: opacity 0.3s;
      -khtml-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .sh-experts-topbox .clip-icon img.light {
        opacity: 0; }
  .sh-experts-topbox .experts-list {
    height: auto;
    padding: 40px 0 80px;
    position: relative; }
    .sh-experts-topbox .experts-list li {
      opacity: 0;
      position: relative;
      text-align: center;
      width: auto;
      height: 186px;
      /*min-width: 182px;*/
      float: left;
      z-index: 1; }
      .sh-experts-topbox .experts-list li.active {
        z-index: 2; }
      .sh-experts-topbox .experts-list li:nth-child(odd) {
        margin-top: 186px; }
      .sh-experts-topbox .experts-list li > * {
        cursor: pointer; }
      .sh-experts-topbox .experts-list li.active h3,
      .sh-experts-topbox .experts-list li:hover h3 {
        color: #fff; }
      .sh-experts-topbox .experts-list li.active .clip-icon,
      .sh-experts-topbox .experts-list li:hover .clip-icon {
        background: #3b81ff; }
        .sh-experts-topbox .experts-list li.active .clip-icon img.light,
        .sh-experts-topbox .experts-list li:hover .clip-icon img.light {
          opacity: 1; }
        .sh-experts-topbox .experts-list li.active .clip-icon img.dark,
        .sh-experts-topbox .experts-list li:hover .clip-icon img.dark {
          opacity: 0; }
      .sh-experts-topbox .experts-list li.active .clip-photo,
      .sh-experts-topbox .experts-list li:hover .clip-photo {
        border: 3px solid #3b81ff; }
      .sh-experts-topbox .experts-list li input, .sh-experts-topbox .experts-list li textarea {
        display: none; }
      .sh-experts-topbox .experts-list li .expert-wrp {
        width: 182px;
        margin: 0 auto;
        position: relative; }
        .sh-experts-topbox .experts-list li .expert-wrp .tablet-quote {
          display: none;
          font-family: 'OpenSans-Italic', sans-serif;
          font-size: 20px;
          letter-spacing: 1px;
          line-height: 28px;
          width: 365px;
          position: relative;
          left: -92px;
          color: #3b81ff;
          text-transform: uppercase;
          margin: 20px 0 0 0; }
          .sh-experts-topbox .experts-list li .expert-wrp .tablet-quote:before {
            content: '\201C';
            padding-right: 5px; }
          .sh-experts-topbox .experts-list li .expert-wrp .tablet-quote:after {
            content: '\201D';
            padding-left: 5px; }
        .sh-experts-topbox .experts-list li .expert-wrp .btn-close {
          display: none;
          position: absolute;
          top: -30px;
          right: -10px;
          width: 34px;
          height: 34px;
          background-image: url(../img/icon-tablet-expert-close.png?201512111031);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          cursor: pointer;
          -webkit-transition: opacity 0.3;
          -khtml-transition: opacity 0.3;
          -moz-transition: opacity 0.3;
          -ms-transition: opacity 0.3;
          -o-transition: opacity 0.3;
          transition: opacity 0.3; }
          .sh-experts-topbox .experts-list li .expert-wrp .btn-close:hover {
            opacity: 0.7; }
    .sh-experts-topbox .experts-list h3 {
      color: #3b81ff;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 8px;
      letter-spacing: 1px;
      font-family: 'OpenSans-Regular', arial, sans-serif;
      padding: 1px;
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      -webkit-transition: color 0.3s;
      -khtml-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s; }
      .sh-experts-topbox .experts-list h3 span {
        font-family: 'OpenSans-Bold', arial, sans-serif; }
    .sh-experts-topbox .experts-list p {
      margin-top: 23px;
      text-transform: uppercase;
      font-size: 6px;
      letter-spacing: 1px;
      width: auto;
      display: inline-block;
      padding: 2px;
      background-color: rgba(0, 0, 0, 0.5); }
  .sh-experts-topbox .bg-static {
    background: url(../img/bg-circles-static.png?201512011121);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 768px; }
  .sh-experts-topbox .desktop,
  .sh-experts-topbox .mobile,
  .sh-experts-topbox .tablet {
    position: relative;
    z-index: 5; }
  .sh-experts-topbox .desktop {
    display: block;
    height: 100%; }
  .sh-experts-topbox .mobile,
  .sh-experts-topbox .tablet {
    display: none; }
  .sh-experts-topbox .pointer-wrp {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 127px;
    opacity: 0.9;
    -webkit-transform: rotate(30deg);
    -khtml-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
    .sh-experts-topbox .pointer-wrp .pointer .tip {
      padding: 3px;
      border: 1px solid #3b81ff;
      border-radius: 100%;
      background-color: #3b81ff;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 200px;
      opacity: 0; }
    .sh-experts-topbox .pointer-wrp .pointer .line {
      width: 0px;
      height: 2px;
      background-color: #3b81ff;
      position: absolute;
      top: calc(50% + 2px);
      right: 50%; }
  @media only screen and (min-width: 668px) and (max-width: 1024px), (min-device-width: 668px) and (max-device-width: 1024px) {
    .sh-experts-topbox {
      height: auto; }
      .sh-experts-topbox canvas {
        display: none; }
      .sh-experts-topbox .mobile {
        display: none; }
      .sh-experts-topbox .tablet {
        display: block; }
      .sh-experts-topbox .experts-wrap {
        height: auto; }
        .sh-experts-topbox .experts-wrap .experts-list {
          background: url(../img/bg-circles-static.png?201512011121);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 768px; }
      .sh-experts-topbox #title-container {
        position: relative;
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        left: auto;
        -webkit-transform: none;
        -khtml-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none; }
        .sh-experts-topbox #title-container h1 {
          font-size: 30px;
          margin-bottom: 30px; }
        .sh-experts-topbox #title-container p {
          font-size: 12px;
          line-height: 19px;
          margin: 0;
          padding: 0; }
      .sh-experts-topbox .experts-list {
        height: auto;
        overflow: hidden;
        padding: 80px 0; }
        .sh-experts-topbox .experts-list li {
          width: 25% !important; }
          .sh-experts-topbox .experts-list li:nth-child(n+5) {
            display: none; }
          .sh-experts-topbox .experts-list li:nth-child(odd) {
            margin-top: 0; }
          .sh-experts-topbox .experts-list li:nth-child(even) {
            margin-top: 93px; } }
  @media only screen and (max-width: 667px), (max-device-width: 667px) {
    .sh-experts-topbox {
      height: 340px !important; }
      .sh-experts-topbox:before {
        content: "";
        background: url(../img/bg-circles-mobile-static.png?201512111141);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%; }
      .sh-experts-topbox canvas,
      .sh-experts-topbox .experts-down-arrow {
        display: none; }
      .sh-experts-topbox .mobile {
        display: block; }
      .sh-experts-topbox #title-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        left: auto;
        -webkit-transform: none;
        -khtml-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none; }
        .sh-experts-topbox #title-container p {
          text-align: left;
          background-color: rgba(0, 0, 0, 0.5); }
      .sh-experts-topbox .experts-list {
        height: 160px;
        padding: 30px; }
        .sh-experts-topbox .experts-list li {
          width: 100% !important;
          height: 75px; }
          .sh-experts-topbox .experts-list li:nth-child(1) {
            left: 10% !important; }
          .sh-experts-topbox .experts-list li:nth-child(2) {
            left: -30% !important; }
          .sh-experts-topbox .experts-list li:nth-child(3) {
            left: 30% !important; }
          .sh-experts-topbox .experts-list li:nth-child(n+4) {
            display: none; }
          .sh-experts-topbox .experts-list li:nth-child(odd),
          .sh-experts-topbox .experts-list li:nth-child(even) {
            margin: 0; }
          .sh-experts-topbox .experts-list li .expert-wrp {
            width: 70%; }
            .sh-experts-topbox .experts-list li .expert-wrp h3 {
              font-size: 14px;
              line-height: 20px; }
      .sh-experts-topbox .experts-wrap {
        width: 90%;
        height: auto; }
      .sh-experts-topbox .clips {
        margin: 0 auto;
        width: 90px;
        height: 90px; }
        .sh-experts-topbox .clips .clip-photo {
          width: 82px;
          height: 82px; }
        .sh-experts-topbox .clips .clip-icon {
          width: 34px;
          height: 34px;
          bottom: 0;
          right: 0;
          -webkit-transform: translateX(0);
          -khtml-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); }
          .sh-experts-topbox .clips .clip-icon img {
            height: 14px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .sh-experts-topbox .experts-list {
      height: 160px;
      padding: 30px; }
      .sh-experts-topbox .experts-list li:nth-child(1) {
        left: 5% !important; }
      .sh-experts-topbox .experts-list li:nth-child(2) {
        left: -40% !important; }
      .sh-experts-topbox .experts-list li:nth-child(3) {
        left: 35% !important; }
      .sh-experts-topbox .experts-list li:nth-child(n+4) {
        display: none; }
      .sh-experts-topbox .experts-list li:nth-child(odd),
      .sh-experts-topbox .experts-list li:nth-child(even) {
        margin: 0; }
      .sh-experts-topbox .experts-list li .expert-wrp {
        width: 50%; }
        .sh-experts-topbox .experts-list li .expert-wrp h3 {
          font-size: 14px; } }
