/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
@-webkit-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-moz-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-ms-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@-o-keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

@keyframes arrow_animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(0%);
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%); }
  60% {
    -webkit-transform: translateX(-50%) translateY(-30%);
    -khtml-transform: translateX(-50%) translateY(-30%);
    -moz-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    -o-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); } }

.sh-experts-topbox {
  background-color: #000;
  color: #FFF;
  font-family: 'OpenSans-Extrabold', arial, sans-serif;
  text-align: center;
  position: relative; }
  .sh-experts-topbox.mouseover {
    cursor: pointer !important; }
  .sh-experts-topbox p,
  .sh-experts-topbox span {
    font-family: 'OpenSans-Light', arial, sans-serif; }
  .sh-experts-topbox h1 {
    font-size: 30px; }
  .sh-experts-topbox p {
    font-size: 10px; }
  .sh-experts-topbox canvas {
    width: 100%;
    height: auto; }
  .sh-experts-topbox #title-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    .sh-experts-topbox #title-container h1 {
      opacity: 0;
      letter-spacing: 1.5px;
      line-height: normal;
      font-size: 30px; }
    .sh-experts-topbox #title-container p {
      opacity: 0;
      padding: 10px 0;
      line-height: 16px;
      letter-spacing: 1.2px;
      font-size: 10px; }
    @media (max-width: 840px) {
      .sh-experts-topbox #title-container h1 {
        font-size: 26px; }
      .sh-experts-topbox #title-container p {
        font-size: 8px;
        line-height: 14px;
        padding: 5px 0; } }
  .sh-experts-topbox .experts-down-arrow {
    background-image: url(../img/arrow-down.png?201510261810);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-name: 'arrow_animation';
    animation-name: 'arrow_animation';
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; }
  .sh-experts-topbox #quoteWrp {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
    text-align: right;
    font-size: 1em;
    line-height: 1.5em; }
    .sh-experts-topbox #quoteWrp p {
      font-size: 1.4em;
      line-height: 1.2em;
      color: #3b81ff;
      font-style: italic; }
      .sh-experts-topbox #quoteWrp p:before,
      .sh-experts-topbox #quoteWrp p:after {
        content: '"'; }
    .sh-experts-topbox #quoteWrp > span {
      margin-top: 10px;
      font-size: 1em;
      line-height: 1.3em;
      display: block;
      font-style: normal;
      font-weight: 200;
      text-transform: uppercase; }
      .sh-experts-topbox #quoteWrp > span span {
        font-family: 'OpenSans-SemiBold', helvetica, sans-serif;
        text-transform: uppercase; }
  .sh-experts-topbox .clip-photo {
    width: 122px;
    height: 122px;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative; }
    .sh-experts-topbox .clip-photo img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -khtml-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .sh-experts-topbox .clip-icon {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background: #FFF;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -khtml-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .sh-experts-topbox .clip-icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 75%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -khtml-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .sh-experts-topbox .experts-list {
    height: auto;
    overflow: hidden;
    padding: 80px 0; }
    .sh-experts-topbox .experts-list li {
      position: relative;
      text-align: center;
      width: 25%;
      height: 186px;
      float: left; }
      .sh-experts-topbox .experts-list li:nth-child(even) {
        margin-top: 93px; }
    .sh-experts-topbox .experts-list h3 {
      color: #3b81ff;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-family: 'OpenSans-Regular', arial, sans-serif; }
      .sh-experts-topbox .experts-list h3 span {
        font-family: 'OpenSans-Bold', arial, sans-serif; }
    .sh-experts-topbox .experts-list p {
      margin-top: 25px;
      text-transform: uppercase;
      font-size: 6px;
      letter-spacing: 1px;
      width: 100%; }
  .sh-experts-topbox .bg-static {
    background: url(../img/bg-circles-static.png?201512011121);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 768px; }
  .sh-experts-topbox .desktop {
    display: block; }
  .sh-experts-topbox .mobile,
  .sh-experts-topbox .tablet {
    display: none; }
  .sh-experts-topbox .mobile h3,
  .sh-experts-topbox .mobile p {
    display: none; }
  .sh-experts-topbox .mobile .clip-photo {
    width: 70px;
    height: 70px; }
  .sh-experts-topbox .mobile .clip-icon {
    width: 18px;
    height: 18px; }
  .sh-experts-topbox .mobile .experts-list {
    height: 160px;
    padding: 30px; }
    .sh-experts-topbox .mobile .experts-list li {
      width: 33.3333%; }
      .sh-experts-topbox .mobile .experts-list li:nth-child(even) {
        margin-top: 80px; }
  .sh-experts-topbox .mobile.bg-static {
    background: url(../img/bg-circles-mobile-static.png?201512011208);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center; }
  @media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
    .sh-experts-topbox .mobile ~ .experts-down-arrow,
    .sh-experts-topbox .tablet ~ .experts-down-arrow {
      display: none; }
    .sh-experts-topbox .mobile,
    .sh-experts-topbox .desktop {
      display: none; }
    .sh-experts-topbox .tablet {
      display: block; }
    .sh-experts-topbox #title-container {
      position: relative;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      left: auto;
      -webkit-transform: none;
      -khtml-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
      .sh-experts-topbox #title-container h1 {
        font-size: 30px;
        margin-bottom: 30px; }
      .sh-experts-topbox #title-container p {
        font-size: 12px;
        line-height: 19px;
        margin: 0;
        padding: 0; } }
  @media only screen and (max-device-width: 667px) {
    .sh-experts-topbox .mobile ~ .experts-down-arrow,
    .sh-experts-topbox .tablet ~ .experts-down-arrow {
      display: none; }
    .sh-experts-topbox .tablet,
    .sh-experts-topbox .desktop {
      display: none; }
    .sh-experts-topbox .mobile {
      display: block; }
    .sh-experts-topbox #title-container {
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding-top: 30px;
      left: auto;
      -webkit-transform: none;
      -khtml-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
      .sh-experts-topbox #title-container p {
        text-align: left; } }
