@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url("../fonts/OpenSans-Extrabold_gdi.eot");
  src: url("../fonts/OpenSans-Extrabold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Extrabold_gdi.woff") format("woff"), url("../fonts/OpenSans-Extrabold_gdi.ttf") format("truetype"), url("../fonts/OpenSans-Extrabold_gdi.svg#OpenSans-Extrabold") format("svg");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20-25CA; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg") format("svg");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20-25CA; }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont") format("truetype"), url("../fonts/opensans-semibold-webfont.svg") format("svg");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20-25CA; }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light_gdi.eot");
  src: url("../fonts/OpenSans-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light_gdi.woff") format("woff"), url("../fonts/OpenSans-Light_gdi.ttf") format("truetype"), url("../fonts/OpenSans-Light_gdi.svg#OpenSans-Light") format("svg");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20-25CA; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans_gdi.eot");
  src: url("../fonts/OpenSans_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans_gdi.woff") format("woff"), url("../fonts/OpenSans_gdi.ttf") format("truetype"), url("../fonts/OpenSans_gdi.svg#OpenSans-Regular") format("svg");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U20-25CA; }
