@import "css3MixinLibrary";

.sh-experts-topbox {
	background-color: #000;
	color: #FFF;
	font-family: 'OpenSans-Extrabold', arial, sans-serif;
	text-align: center;
	position: relative;

	&.mouseover {
		cursor: pointer !important;
	}

	p {
		font-family: 'OpenSans-Light', arial, sans-serif;
	}

	h1 {
		font-size: 30px;
	}

	p {
		font-size: 10px;
	}

	canvas {
		width: 100%;
		height: auto;
	}

	#title-container {
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);

		h1 {
			letter-spacing: 1.5px;
			line-height: normal;
		}

		p {
			padding: 10px 0;
			line-height: 16px;
			letter-spacing: 1.2px;
		}
	}

	.experts-down-arrow {
		background-image: url(../img/arrow-down.png?201510261810);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		cursor: pointer;
		@include transform(translateX(-50%));
	}
}