@font-face {
	font-family: 'OpenSans-Extrabold';
	src: url("../fonts/OpenSans-Extrabold_gdi.eot");
	src: url("../fonts/OpenSans-Extrabold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Extrabold_gdi.woff") format("woff"), url("../fonts/OpenSans-Extrabold_gdi.ttf") format("truetype"), url("../fonts/OpenSans-Extrabold_gdi.svg#OpenSans-Extrabold") format("svg");
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family: 'OpenSans-Bold';
	src: url("../fonts/opensans-bold-webfont.eot");
	src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg") format("svg");
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url("../fonts/opensans-semibold-webfont.eot");
	src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont") format("truetype"), url("../fonts/opensans-semibold-webfont.svg") format("svg");
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans-Light_gdi.eot");
	src: url("../fonts/OpenSans-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light_gdi.woff") format("woff"), url("../fonts/OpenSans-Light_gdi.ttf") format("truetype"), url("../fonts/OpenSans-Light_gdi.svg#OpenSans-Light") format("svg");
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family: 'OpenSans-Regular';
	src: url("../fonts/OpenSans_gdi.eot");
	src: url("../fonts/OpenSans_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans_gdi.woff") format("woff"), url("../fonts/OpenSans_gdi.ttf") format("truetype"), url("../fonts/OpenSans_gdi.svg#OpenSans-Regular") format("svg");
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family: 'OpenSans-BoldItalic';
	src: url("OpenSans-BoldItalic.eot");
	src: url("OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("OpenSans-BoldItalic.woff") format("woff"), url("OpenSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}


@font-face {
	font-family: 'OpenSans-Italic';
	src: url("OpenSans-Italic.eot");
	src: url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("OpenSans-Italic.woff") format("woff"), url("OpenSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}